/***************************
** BASIC SETUP */

::-webkit-scrollbar { width: 0; }
:root { scrollbar-width: none; }

body {
   background: #eee;
   overflow-x: hidden;
}


/***************************
** HEADER */

.header {
   background-image: linear-gradient(rgba(3, 10, 18, .65), rgba(1, 8 , 16, .60)), url(../img/hero.jpg);
   background-size: cover;
   background-attachment: fixed;
   min-height: 100vh;
   overflow-x: hidden;

}


/***************************
** NEWSLETTER */

.newsletter {
   background-image: linear-gradient(rgba(3, 10, 18, .65), rgba(1, 8 , 16, .60)), url(../img/contact.jpg);
   background-size: cover;
   background-attachment: fixed;
   border-radius: 5px;
   overflow-x: hidden;
}


/***************************
** FOOTER */

.footer {
   background-color: #101D2C;

   &__facebook { color: #007bff; }
   &__twitter { color: #55acee; }
   &__instagram { color: #c32aa3; }
   &__youtube { color: #bb0000; }

   &__copyright { letter-spacing: 1.5px; }

   a { padding: 10px 20px; }

}



/***************************
** SCROLL TOP ANIMATION */

.scrollTop {
	position: fixed;
	bottom: 80rem;
	right: 1.5rem;
	width: 2rem;
	height: 2rem;
	background: url(../img/up.svg);
   background-color: #28a745;
   border-radius: 50%;
	background-size: 2rem;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 100000;
	visibility: hidden;
	opacity: 0;
   cursor: pointer;

	transition: 4s; // Velocidad por default .5s
}

.scrollTop.active {
	bottom: 2rem;
	visibility: visible;
	opacity: 1;
}
